@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null;
}
<div class="error-page" style="margin:50px">
    <div><img src="~/Images/error.png" /></div>
    <h1 class="headline text-yellow" style="font-size:1.5rem">对不起，无法访问此页面</h1>
    <div class="error-content">
        <span class="text-danger">请稍后重试，或者联系网站管理员.</span>
    </div>
</div>

