@using UowMVC.Web.Models;
@model ImportModel
@{
    ViewBag.Title = "导入菜单";
}

<form method="post" class="form-horizontal " id="form-import" enctype="multipart/form-data">
    <div class="form-group">
        <div class="col-sm-12">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <b style="color:red">注意：此操作会删除角色权限设置，安装成功后请重新设置角色权限。</b>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <input type="file" id="File" name="File" accept="application/xml" />
        </div>
        <div class="col-sm-7">
            @Html.ValidationMessageFor(x => x.File, "", new { @class = "error" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <a href="/控制面板菜单.xml" target="_blank">下载系统默认配置文档？</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            <button class="bk-margin-5 btn btn-info" id="btn-import" type="button">提交</button>
        </div>
    </div>
</form>
<script>
    $(function () {
        $("#btn-import").click(function () {
            $(this).parent().append('<img src="/Images/loading-small.gif"/>');
            $("#form-import").submit();
        });
    })
</script>